* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    
}



a {
    text-decoration: none;
}

ul {
    list-style: none;
    padding-left: 0rem;
}
.sidebar {
    width: 250px;
    box-shadow: 0 0 10px #ddd;
}

.sidebar ul li a {
    margin-bottom: 15px;
}

.sidebar ul li :hover,
.sidebar ul li a.active {
    background-color: #f6f6f6;
    border-radius: 20px;
    
}

.headzz{
    width: 100%;
    height: 10%;
    background-color: rgb(255, 255, 255);
}
.wipre{
    width:55%;
}

@media only screen and (max-width: 391px){
    .ss{
        display: none;
    }
    .sidebar{
        width: inherit;
    }
    .input-group-text.border-0.btn.btn-primary.search,.form-control.rounded.inpu{
        display: none;
    }
    .wipre{
        width: 100% !important;
    }
}
